<!DOCTYPE html>
<html>

<body>

    <svg width="10cm" height="1000px" viewBox="0 0 100 30">


        <!-- 'defs' section left out -->
      
        <rect x=".1" y=".1" width="99.8" height="29.8"
              fill="none" stroke="blue" stroke-width=".2" />
      
        <!-- Start of generated content. Replaces 'use' -->
        <g transform="translate(20,20) rotate(10)">
          <rect x="0" y="0" width="60" height="10"/>
        </g>
        <!-- End of generated content -->
      
      </svg>

      <svg height="1000" width="500">
        <ellipse cx="300" cy="300" rx="100" ry="50"
        style="fill:yellow;stroke:purple;stroke-width:2" />
      </svg> 

</body>




</html>